services:
  ingress_public:
    labels:
      - ${NGINX_PROXY_PUBLIC_INSTANCE_LABEL}=true
      - ${PROPAGATOR_TARGET_NGINX_LABEL}=true

  ingress_private:
    container_name: ingress_private
    image: nginx:${NGINX_IMAGE_TAG:-latest}
    restart: 'unless-stopped'
    depends_on:
      - docker_gen_private
    networks:
      - public
      - private
    ports:
      - "${PRIVATE_PORT_HTTP}:80"
      - "${PRIVATE_PORT_HTTPS}:443"
    volumes:
      - ${PROJECT_PATH}/nginx_proxy_volumes/conf/network_internal.conf:/etc/nginx/network_internal.conf:ro
      - ${PROJECT_PATH}/nginx_proxy_volumes/conf.d/private:/etc/nginx/conf.d:ro
      - ${PROJECT_PATH}/nginx_proxy_volumes/vhost.d/private:/etc/nginx/vhost.d:ro
      - ${PROJECT_PATH}/nginx_proxy_volumes/html:/usr/share/nginx/html:ro
      - ${PROJECT_PATH}/nginx_proxy_volumes/certs:/etc/nginx/certs:ro
    labels:
      - ${NGINX_PROXY_PRIVATE_INSTANCE_LABEL}=true
      - ${PRIVATE_NGINX_CONTAINER_LABEL}=true
      - ${PROPAGATOR_TARGET_NGINX_LABEL}=true

  docker_gen_public:
    labels:
      - ${NGINX_PROXY_PUBLIC_INSTANCE_LABEL}=true
      - ${PROPAGATOR_TARGET_DOCKER_GEN_LABEL}=true
    environment:
      - CONTAINER_FILTER_LABEL=${NGINX_PROXY_PUBLIC_INSTANCE_LABEL}

  docker_gen_private:
    container_name: docker_gen_private
    image: nginxproxy/docker-gen:${DOCKER_GEN_IMAGE_TAG:-latest}
    command: -notify-signal 1 -notify-filter label=${PRIVATE_NGINX_CONTAINER_LABEL}=true -watch -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    restart: always
    network_mode: "none"
    volumes:
      - ${PROJECT_PATH}/nginx_proxy_volumes/templates/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro
      - ${PROJECT_PATH}/nginx_proxy_volumes/conf.d/private:/etc/nginx/conf.d:rw
      - ${PROJECT_PATH}/nginx_proxy_volumes/vhost.d/private:/etc/nginx/vhost.d:ro
      - ${PROJECT_PATH}/nginx_proxy_volumes/certs:/etc/nginx/certs:ro
      # Share docker socket to listen to docker events
      - /var/run/docker.sock:/tmp/docker.sock:ro
    labels:
      - ${NGINX_PROXY_PRIVATE_INSTANCE_LABEL}=true
      - ${PROPAGATOR_TARGET_DOCKER_GEN_LABEL}=true
    environment:
      - NGINX_CONTAINER_LABEL=${PRIVATE_NGINX_CONTAINER_LABEL}
      - NGINX_DEFAULT_NETWORK_ACCESS=internal
      - CONTAINER_FILTER_LABEL=${NGINX_PROXY_PRIVATE_INSTANCE_LABEL}

  acme_companion:
    depends_on:
      - ingress_public
      - ingress_private
    labels:
      - ${NGINX_PROXY_PUBLIC_INSTANCE_LABEL}=true

  signal_propagator_nginx:
    container_name: signal_propagator_nginx
    image: eorea/docker_signal_propagator:${SIGNAL_PROPAGATOR_IMAGE_TAG:-latest}
    restart: always
    network_mode: "none"
    volumes:
      # Share docker socket to listen to docker events
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - com.github.nginx-proxy.nginx=true
    environment:
      - LABEL=${PROPAGATOR_TARGET_NGINX_LABEL}
  
  signal_propagator_docker_gen:
    container_name: signal_propagator_docker_gen
    image: eorea/docker_signal_propagator:${SIGNAL_PROPAGATOR_IMAGE_TAG:-latest}
    restart: always
    network_mode: "none"
    volumes:
      # Share docker socket to listen to docker events
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - com.github.nginx-proxy.docker-gen=true
    environment:
      - LABEL=${PROPAGATOR_TARGET_DOCKER_GEN_LABEL}
