name: nginx_proxy

services:
  ingress_public:
    container_name: ingress_public
    image: nginx:${NGINX_IMAGE_TAG:-latest}
    restart: 'unless-stopped'
    depends_on:
      - docker_gen_public
    networks:
      - dmz
      - private
    ports:
      - "${PUBLIC_PORT_HTTP}:80"
      - "${PUBLIC_PORT_HTTPS}:443"
    volumes:
      - ${PROJECT_PATH}/nginx_proxy_volumes/conf/network_internal.conf:/etc/nginx/network_internal.conf:ro
      - ${PROJECT_PATH}/nginx_proxy_volumes/conf.d/public:/etc/nginx/conf.d:ro
      - ${PROJECT_PATH}/nginx_proxy_volumes/vhost.d/public:/etc/nginx/vhost.d:ro
      - ${PROJECT_PATH}/nginx_proxy_volumes/html:/usr/share/nginx/html:ro
      - ${PROJECT_PATH}/nginx_proxy_volumes/certs:/etc/nginx/certs:ro
    labels:
      - ${PUBLIC_NGINX_CONTAINER_LABEL}=true

  docker_gen_public:
    container_name: docker_gen_public
    image: nginxproxy/docker-gen:${DOCKER_GEN_IMAGE_TAG:-latest}
    command: -notify-signal 1 -notify-filter label=${PUBLIC_NGINX_CONTAINER_LABEL}=false -watch -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    restart: always
    network_mode: "none"
    volumes:
      - ${PROJECT_PATH}/nginx_proxy_volumes/templates/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro
      - ${PROJECT_PATH}/nginx_proxy_volumes/conf.d/public:/etc/nginx/conf.d:rw
      - ${PROJECT_PATH}/nginx_proxy_volumes/vhost.d/public:/etc/nginx/vhost.d:ro
      - ${PROJECT_PATH}/nginx_proxy_volumes/certs:/etc/nginx/certs:ro
      # Share docker socket to listen to docker events
      - /var/run/docker.sock:/tmp/docker.sock:ro
    environment:
      - NGINX_CONTAINER_LABEL=${PUBLIC_NGINX_CONTAINER_LABEL}

  acme_companion:
    container_name: acme_companion
    image: nginxproxy/acme-companion:${ACME_COMPANION_IMAGE_TAG:-latest}
    restart: always
    depends_on:
      - ingress_public
    networks:
      - private
    volumes:
      - ${PROJECT_PATH}/nginx_proxy_volumes/html:/usr/share/nginx/html:rw
      - ${PROJECT_PATH}/nginx_proxy_volumes/certs:/etc/nginx/certs:rw
      - ${PROJECT_PATH}/nginx_proxy_volumes/acme:/etc/acme.sh:rw
      # Share docker socket to listen to docker events
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - DEFAULT_EMAIL=${ACME_EMAIL}

networks:
  dmz:
  public:
  private:
