PROJECT_PATH=/your/project/path
DOMAIN=example.com
# Nginx Proxy
ACME_EMAIL=your_email@example.com
NGINX_PROXY_PUBLIC_INSTANCE_LABEL=com.github.nginx-proxy.instance.public
NGINX_PROXY_PRIVATE_INSTANCE_LABEL=com.github.nginx-proxy.instance.private
PROPAGATOR_TARGET_INGRESS_LABEL=com.github.eorea.signal-propagator.ingress-target
PROPAGATOR_TARGET_DOCKER_GEN_LABEL=com.github.eorea.signal-propagator.docker-gen-target
PUBLIC_NGINX_CONTAINER_LABEL=com.github.nginx-proxy.nginx-proxy.dmz
PUBLIC_PORT_HTTP=9080
PUBLIC_PORT_HTTPS=9443
PRIVATE_NGINX_CONTAINER_LABEL=com.github.nginx-proxy.nginx-proxy.public
PRIVATE_PORT_HTTP=80
PRIVATE_PORT_HTTPS=443
# Oauth2 Proxy
OAUTH2_PROXY_HOSTNAME=login
OAUTH2_PROXY_PORT=9090
OAUTH_CLIENT_ID=<CLIENT_ID>
OAUTH_CLIENT_SECRET=<CLIENT_SECRET>
OAUTH_SCOPES="identity,email"
# Images tags
NGINX_IMAGE_TAG=1.29
DOCKER_GEN_IMAGE_TAG=0.15
ACME_COMPANION_IMAGE_TAG=2.6
SIGNAL_PROPAGATOR_IMAGE_TAG=1.0
OAUTH2_PROXY_IMAGE_TAG=alpine-0.27.1
IDP_MOCK_IMAGE_TAG=v2.44.0
